{% extends 'base.html' %}

{% block content %}
<h1 class="label1" style="margin: 0px; padding: 3px; border: 0px; outline: 0px; font-size: 1.5em; vertical-align: baseline; background: rgb(255, 255, 255); font-family: georgia, verdana, arial;">Online Text Editor</h1><p style="margin: 10px 0px; padding: 3px; border: 0px; outline: 0px; font-size: 24px; vertical-align: baseline; background: rgb(255, 255, 255); font-family: georgia, verdana, arial;">Altara is an online text editor that lets people collaborate in real-time.</p><p style="margin: 10px 0px; padding: 3px; border: 0px; outline: 0px; font-size: 24px; vertical-align: baseline; background: rgb(255, 255, 255); font-family: georgia, verdana, arial;">It works in your web browser so no installation is needed.</p>


{% endblock %}